@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="vista">
    <div class="sesion">
        <h1>INICIA SESIÓN</h1>
        <form action="" method="post">
            <div>
                <div class="espacio"><label for="usuario" placeholder="EL MISMO DEL SIR">USUARIO</label></div>
                <div class="espacio"><input type="text" name="usuario" id="nombre"></div>
            </div>
            <div>
                <div class="espacio"><label for="pass" placeholder="EL MISMO DEL SIR">CONTRASEÑA</label></div>
                <div class="espacio"><input type="password" name="pass" id="pass"></div>
            </div>
            <input type="submit" value="INGRESAR">
        </form>
    </div>
    <div class="imglogo">
    </div>
</div>